## Api cepesp data em python
### Utilização básica
Votação para "President"

In [1]:
from electionsBR import *

vot = get_votes(year=2014, position="President", regional_aggregation="Brazil", 
                columns=["NUMERO_CANDIDATO", "NUM_TURNO", "QTDE_VOTOS"])
vot.head()

  NUMERO_CANDIDATO NUM_TURNO QTDE_VOTOS
0               13         1   43267668
1               16         1      91209
2               20         1     780513
3               21         1      47845
4               27         1      61250

#### Adicionando filtros

In [2]:
vot = get_votes(year=2014, position="President", regional_aggregation="State",
                uf="CE", candidate_number=13, # special filters
                filters={"NUM_TURNO": 2}, # column based filters
                columns=["NUMERO_CANDIDATO", "UF", "NUM_TURNO", "QTDE_VOTOS"])
vot.head()

  NUMERO_CANDIDATO  UF NUM_TURNO QTDE_VOTOS
0               13  CE         2    3522884

#### Informações sobre o candidato

In [3]:
cand = get_candidates(year=2014, position="Federal Deputy",
                      columns=["NUMERO_CANDIDATO", "NOME_CANDIDATO", "SIGLA_UF", "NUM_TURNO"])
cand.head()

  NUMERO_CANDIDATO                        NOME_CANDIDATO SIGLA_UF NUM_TURNO
0             1012                     ALAN RICK MIRANDA       AC         1
1             1101  CLAUDENOR MAGALHÃES SANTANA DE SOUZA       AC         1
2             1111           LEILANE RIBEIRO DE OLIVEIRA       AC         1
3             1112   JOSÉ EDMAR RONIVON SANTIAGO DE MELO       AC         1
4             1122            OSVALDO ALVES RIBEIRO NETO       AC         1

### Informações sobre Legendas

In [4]:
leg = get_coalitions(year=2014, position="Governor",
                     columns=["TIPO_LEGENDA", "NUMERO_PARTIDO", "SIGLA_PARTIDO", "NOME_COLIGACAO"])
leg.head()

,TIPO_LEGENDA,NUMERO_PARTIDO,SIGLA_PARTIDO,NOME_COLIGACAO
0,COLIGACAO,10,PRB,COLIGAÇÃO SANTA CATARINA EM PRIMEIRO LUGAR
1,COLIGACAO,10,PRB,PERNAMBUCO VAI MAIS LONGE
2,COLIGACAO,10,PRB,GARANTIA DE UM FUTURO MELHOR PARA GOIÁS
3,COLIGACAO,10,PRB,UNIDOS PELA BAHIA
4,COLIGACAO,10,PRB,MS CADA VEZ MELHOR

### Junção entre votação e candidatos

In [5]:
vot = get_elections(year=2014, position="President", regional_aggregation="Brazil", columns='*')
vot[["NOME_CANDIDATO", "NUM_TURNO", "QTDE_VOTOS"]].head()

                               NOME_CANDIDATO NUM_TURNO QTDE_VOTOS
0                             MAURO LUÍS IASI         1      47845
1                           RUI COSTA PIMENTA         1      12324
2                   JOSÉ LEVY FIDELIX DA CRUZ         1     446878
3  MARIA OSMARINA MARINA DA SILVA VAZ DE LIMA         1   22176619
4                       EVERALDO DIAS PEREIRA         1     780513

### Votos x Partidos

In [6]:
vot = get_elections(year=2014, position="President", regional_aggregation="Brazil", political_aggregation="Coalition")
vot.head()

,ANO_ELEICAO,NUM_TURNO,DESCRICAO_ELEICAO,CODIGO_CARGO,DESCRICAO_CARGO,SIGLA_COLIGACAO,NOME_COLIGACAO,COMPOSICAO_COLIGACAO,QTDE_VOTOS
0,2014,1,Eleicoes Gerais 2014,1,PRESIDENTE,PCB,PCB,PCB,47845
1,2014,1,Eleicoes Gerais 2014,1,PRESIDENTE,PCO,PCO,PCO,12324
2,2014,1,Eleicoes Gerais 2014,1,PRESIDENTE,#NE#,UNIDOS PELO BRASIL,PHS / PRP / PPS / PPL / PSB / PSL,22176619
3,2014,1,Eleicoes Gerais 2014,1,PRESIDENTE,PRTB,PRTB,PRTB,446878
4,2014,1,Eleicoes Gerais 2014,1,PRESIDENTE,PSC,PSC,PSC,780513

### Votos Brancos

In [7]:
vot = get_votes(year=2014, position="President", regional_aggregation="Brazil", 
                candidate_number=95, blank_votes=True,
                columns=["NUMERO_CANDIDATO", "QTDE_VOTOS"])
vot.head()

  NUMERO_CANDIDATO QTDE_VOTOS
0               95    6342308

### Votos Nulos

In [8]:
vot = get_votes(year=2014, position="President", regional_aggregation="Brazil",
                candidate_number=96, null_votes=True,
                columns=["NUMERO_CANDIDATO", "QTDE_VOTOS"])
vot.head()

  NUMERO_CANDIDATO QTDE_VOTOS
0               96   11898379

### API Lambda *(Fast mode)*

You can use `fast=True` when you want fast paginated results. Queries longer than 30 seconds will throw an error.

In [9]:
elec = get_elections(year=2018, position="President", regional_aggregation="Electoral Section", 
                     columns=["NUMERO_CANDIDATO", "NUM_ZONA", "NUM_SECAO", "QTDE_VOTOS"],
                     uf="SP", limit=100, offset=100, fast=True)
elec.head()

  NUMERO_CANDIDATO NUM_ZONA NUM_SECAO QTDE_VOTOS
0               16       13        97          2
1               16      290       129          1
2               16      263        53          1
3               16       68       213          1
4               16      365       326          1