## Api cepesp data em python
### Utilização básica
Votação para presidente

In [1]:
from cepesp.api import *

vot = votos(ano=2014,
            cargo=CARGO.PRESIDENTE,
            agregacao_regional=AGR_REGIONAL.BRASIL)
vot[["NUMERO_CANDIDATO", "NUM_TURNO", "QTDE_VOTOS"]].head()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>NUMERO_CANDIDATO</th>
      <th>NUM_TURNO</th>
      <th>QTDE_VOTOS</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>13</td>
      <td>1</td>
      <td>43267668</td>
    </tr>
    <tr>
      <th>1</th>
      <td>13</td>
      <td>1</td>
      <td>13868</td>
    </tr>
    <tr>
      <th>2</th>
      <td>13</td>
      <td>2</td>
      <td>54501118</td>
    </tr>
    <tr>
      <th>3</th>
      <td>13</td>
      <td>2</td>
      <td>18073</td>
    </tr>
    <tr>
      <th>4</th>
      <td>16</td>
      <td>1</td>
      <td>91209</td>
    </tr>
  </tbody>
</table>
</div>

####Adicionando filtros

In [5]:
vot = votos(ano=2014,
            cargo=CARGO.PRESIDENTE,
            agregacao_regional=AGR_REGIONAL.UF,
            estado="CE",
            numero_candidato="13")
vot[["NUMERO_CANDIDATO", "UF", "NUM_TURNO", "QTDE_VOTOS"]]

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>NUMERO_CANDIDATO</th>
      <th>UF</th>
      <th>NUM_TURNO</th>
      <th>QTDE_VOTOS</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>13</td>
      <td>CE</td>
      <td>1</td>
      <td>3087658</td>
    </tr>
    <tr>
      <th>1</th>
      <td>13</td>
      <td>CE</td>
      <td>1</td>
      <td>543</td>
    </tr>
    <tr>
      <th>2</th>
      <td>13</td>
      <td>CE</td>
      <td>2</td>
      <td>3522884</td>
    </tr>
    <tr>
      <th>3</th>
      <td>13</td>
      <td>CE</td>
      <td>2</td>
      <td>659</td>
    </tr>
  </tbody>
</table>
</div>

#### Informações sobre o candidato

In [6]:
cand = candidatos(ano=2014, cargo=CARGO.DEPUTADO_FEDERAL)
cand[["NUMERO_CANDIDATO", "NOME_CANDIDATO", "SIGLA_UF", "NUM_TURNO"]].head()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>NUMERO_CANDIDATO</th>
      <th>NOME_CANDIDATO</th>
      <th>SIGLA_UF</th>
      <th>NUM_TURNO</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1012</td>
      <td>ALAN RICK MIRANDA</td>
      <td>AC</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1101</td>
      <td>CLAUDENOR MAGALHÃES SANTANA DE SOUZA</td>
      <td>AC</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1111</td>
      <td>LEILANE RIBEIRO DE OLIVEIRA</td>
      <td>AC</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1112</td>
      <td>JOSÉ EDMAR RONIVON SANTIAGO DE MELO</td>
      <td>AC</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1122</td>
      <td>OSVALDO ALVES RIBEIRO NETO</td>
      <td>AC</td>
      <td>1</td>
    </tr>
  </tbody>
</table>
</div>

### Informações sobre Legendas

In [7]:
leg = legendas(ano=2014, cargo=CARGO.GOVERNADOR, colunas=LEGENDAS)
leg[["TIPO_LEGENDA", "NUMERO_PARTIDO", "SIGLA_PARTIDO", "SIGLA_COLIGACAO", "NOME_COLIGACAO"]].head()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>TIPO_LEGENDA</th>
      <th>NUMERO_PARTIDO</th>
      <th>SIGLA_PARTIDO</th>
      <th>SIGLA_COLIGACAO</th>
      <th>NOME_COLIGACAO</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>COLIGACAO</td>
      <td>10</td>
      <td>PRB</td>
      <td>#NE#</td>
      <td>FRENTE POPULAR DO ACRE</td>
    </tr>
    <tr>
      <th>1</th>
      <td>COLIGACAO</td>
      <td>11</td>
      <td>PP</td>
      <td>#NE#</td>
      <td>ALIANÇA POR UM ACRE MELHOR</td>
    </tr>
    <tr>
      <th>2</th>
      <td>COLIGACAO</td>
      <td>12</td>
      <td>PDT</td>
      <td>#NE#</td>
      <td>FRENTE POPULAR DO ACRE</td>
    </tr>
    <tr>
      <th>3</th>
      <td>COLIGACAO</td>
      <td>13</td>
      <td>PT</td>
      <td>#NE#</td>
      <td>FRENTE POPULAR DO ACRE</td>
    </tr>
    <tr>
      <th>4</th>
      <td>COLIGACAO</td>
      <td>14</td>
      <td>PTB</td>
      <td>#NE#</td>
      <td>FRENTE POPULAR DO ACRE</td>
    </tr>
  </tbody>
</table>
</div>

### Junção entre votação e candidatos

In [8]:
vot = votos_x_candidatos(ano=2014,
                         cargo=CARGO.PRESIDENTE,
                         agregacao_regional=AGR_REGIONAL.BRASIL)
vot[["NOME_CANDIDATO", "NUM_TURNO", "QTDE_VOTOS"]].head()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>NOME_CANDIDATO</th>
      <th>NUM_TURNO</th>
      <th>QTDE_VOTOS</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>DILMA VANA ROUSSEFF</td>
      <td>1</td>
      <td>43267668</td>
    </tr>
    <tr>
      <th>1</th>
      <td>DILMA VANA ROUSSEFF</td>
      <td>1</td>
      <td>13868</td>
    </tr>
    <tr>
      <th>2</th>
      <td>DILMA VANA ROUSSEFF</td>
      <td>2</td>
      <td>54501118</td>
    </tr>
    <tr>
      <th>3</th>
      <td>DILMA VANA ROUSSEFF</td>
      <td>2</td>
      <td>18073</td>
    </tr>
    <tr>
      <th>4</th>
      <td>JOSÉ MARIA DE ALMEIDA</td>
      <td>1</td>
      <td>91209</td>
    </tr>
  </tbody>
</table>
</div>

### Votos x Partidos

In [9]:
vot = votos_x_legendas(ano=2014,
                 cargo=CARGO.PRESIDENTE,
                 agregacao_regional=AGR_REGIONAL.BRASIL)
vot[["NOME_PARTIDO", "SIGLA_PARTIDO", "NUM_TURNO", "QTDE_VOTOS"]].head()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>NOME_PARTIDO</th>
      <th>SIGLA_PARTIDO</th>
      <th>NUM_TURNO</th>
      <th>QTDE_VOTOS</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>PARTIDO DOS TRABALHADORES</td>
      <td>PT</td>
      <td>1</td>
      <td>43267668</td>
    </tr>
    <tr>
      <th>1</th>
      <td>PARTIDO DOS TRABALHADORES</td>
      <td>PT</td>
      <td>1</td>
      <td>13868</td>
    </tr>
    <tr>
      <th>2</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>2</td>
      <td>54501118</td>
    </tr>
    <tr>
      <th>3</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>2</td>
      <td>18073</td>
    </tr>
    <tr>
      <th>4</th>
      <td>PARTIDO SOCIALISTA DOS TRABALHADORES UNIFICADO</td>
      <td>PSTU</td>
      <td>1</td>
      <td>91209</td>
    </tr>
  </tbody>
</table>
</div>

### Votos Brancos

In [10]:
votos(ano=2014,
      cargo=CARGO.PRESIDENTE,
      agregacao_regional=AGR_REGIONAL.BRASIL,
      numero_candidato="95")[["NUMERO_CANDIDATO", "QTDE_VOTOS"]]

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>NUMERO_CANDIDATO</th>
      <th>QTDE_VOTOS</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>95</td>
      <td>4420489</td>
    </tr>
    <tr>
      <th>1</th>
      <td>95</td>
      <td>377</td>
    </tr>
    <tr>
      <th>2</th>
      <td>95</td>
      <td>1921819</td>
    </tr>
    <tr>
      <th>3</th>
      <td>95</td>
      <td>372</td>
    </tr>
  </tbody>
</table>
</div>

### Votos Nulos

In [ ]:
vot = votos(ano=2014,
      cargo=CARGO.PRESIDENTE,
      agregacao_regional=AGR_REGIONAL.BRASIL,
      numero_candidato="96")[["NUMERO_CANDIDATO", "QTDE_VOTOS"]]

vot[["NUMERO_CANDIDATO", "QTDE_VOTOS"]].head()