## Api cepesp data em python
### Utilização básica
Votação para presidente

In [2]:
from cepesp import *
vot = votos(ano=2014,
            cargo=CARGO.PRESIDENTE,
            agregacao_regional=AGR_REGIONAL.BRASIL,
            agregacao_politica=AGR_POLITICA.CANDIDATO)
vot[["NUMERO_CANDIDATO","NUM_TURNO","QTDE_VOTOS"]].head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>NUMERO_CANDIDATO</th>
      <th>NUM_TURNO</th>
      <th>QTDE_VOTOS</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>13</td>
      <td>1</td>
      <td>43267668</td>
    </tr>
    <tr>
      <th>1</th>
      <td>16</td>
      <td>1</td>
      <td>91209</td>
    </tr>
    <tr>
      <th>2</th>
      <td>20</td>
      <td>1</td>
      <td>780513</td>
    </tr>
    <tr>
      <th>3</th>
      <td>21</td>
      <td>1</td>
      <td>47845</td>
    </tr>
    <tr>
      <th>4</th>
      <td>27</td>
      <td>1</td>
      <td>61250</td>
    </tr>
  </tbody>
</table>
</div>

####Adicionando filtros

In [9]:
vot = votos(ano=2014,
            cargo=CARGO.PRESIDENTE,
            agregacao_regional=AGR_REGIONAL.UF,
            estado="CE",
            numero_candidato="13")
vot[["NUMERO_CANDIDATO","UF","NUM_TURNO","QTDE_VOTOS"]].head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>NUMERO_CANDIDATO</th>
      <th>UF</th>
      <th>NUM_TURNO</th>
      <th>QTDE_VOTOS</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>13</td>
      <td>CE</td>
      <td>1</td>
      <td>3087658</td>
    </tr>
    <tr>
      <th>1</th>
      <td>13</td>
      <td>CE</td>
      <td>2</td>
      <td>3522884</td>
    </tr>
    <tr>
      <th>2</th>
      <td>13</td>
      <td>CE</td>
      <td>1</td>
      <td>543</td>
    </tr>
    <tr>
      <th>3</th>
      <td>13</td>
      <td>CE</td>
      <td>2</td>
      <td>659</td>
    </tr>
  </tbody>
</table>
</div>

#### Informações sobre o candidato

In [14]:
cand = candidatos(ano=2014,cargo=CARGO.DEPUTADO_FEDERAL)
cand[["NUMERO_CANDIDATO","NOME_CANDIDATO","SIGLA_UF","NUM_TURNO"]].head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>NUMERO_CANDIDATO</th>
      <th>NOME_CANDIDATO</th>
      <th>SIGLA_UF</th>
      <th>NUM_TURNO</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2555</td>
      <td>SEBASTIÃO ALVES RODRIGUES MANCHINERY</td>
      <td>AC</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1733</td>
      <td>MARILEIDE SERAFIM DE ANDRADE</td>
      <td>AC</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1399</td>
      <td>RAIZZA MARIA CARDOSO DE AZEVEDO</td>
      <td>AC</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>9090</td>
      <td>RAMAO VIEIRA DE OLIVEIRA</td>
      <td>AC</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>4444</td>
      <td>RAIMUNDO VAZ DE AZEVEDO</td>
      <td>AC</td>
      <td>1</td>
    </tr>
  </tbody>
</table>
</div>

### Informações sobre Legendas

In [15]:
leg = legendas(ano=2014,cargo=CARGO.GOVERNADOR)
leg.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>ANO_ELEICAO</th>
      <th>CODIGO_CARGO</th>
      <th>CODIGO_COLIGACAO</th>
      <th>COMPOSICAO_COLIGACAO</th>
      <th>DATA_GERACAO</th>
      <th>DESCRICAO_CARGO</th>
      <th>DESCRICAO_ELEICAO</th>
      <th>DESCRICAO_UE</th>
      <th>HORA_GERACAO</th>
      <th>NOME_COLIGACAO</th>
      <th>...</th>
      <th>NOME_UE</th>
      <th>NUMERO_PARTIDO</th>
      <th>NUM_PARTIDO</th>
      <th>NUM_TURNO</th>
      <th>SEQUENCIA_COLIGACAO</th>
      <th>SIGLA_COLIGACAO</th>
      <th>SIGLA_PARTIDO</th>
      <th>SIGLA_UE</th>
      <th>SIGLA_UF</th>
      <th>TIPO_LEGENDA</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2014</td>
      <td>5</td>
      <td>10000000025</td>
      <td>PSOL</td>
      <td>23/04/2017</td>
      <td>SENADOR</td>
      <td>Eleições Gerais 2014</td>
      <td>#NE#</td>
      <td>03:00:36</td>
      <td>#NE#</td>
      <td>...</td>
      <td>ACRE</td>
      <td>50</td>
      <td>50</td>
      <td>1</td>
      <td>#NE#</td>
      <td>PSOL</td>
      <td>PSOL</td>
      <td>AC</td>
      <td>AC</td>
      <td>PARTIDO ISOLADO</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2014</td>
      <td>5</td>
      <td>20000000004</td>
      <td>PTN</td>
      <td>23/04/2017</td>
      <td>SENADOR</td>
      <td>Eleições Gerais 2014</td>
      <td>#NE#</td>
      <td>03:00:36</td>
      <td>#NE#</td>
      <td>...</td>
      <td>ALAGOAS</td>
      <td>19</td>
      <td>19</td>
      <td>1</td>
      <td>#NE#</td>
      <td>PTN</td>
      <td>PTN</td>
      <td>AL</td>
      <td>AL</td>
      <td>PARTIDO ISOLADO</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2014</td>
      <td>5</td>
      <td>20000000015</td>
      <td>PTC</td>
      <td>23/04/2017</td>
      <td>SENADOR</td>
      <td>Eleições Gerais 2014</td>
      <td>#NE#</td>
      <td>03:00:36</td>
      <td>#NE#</td>
      <td>...</td>
      <td>ALAGOAS</td>
      <td>36</td>
      <td>36</td>
      <td>1</td>
      <td>#NE#</td>
      <td>PTC</td>
      <td>PTC</td>
      <td>AL</td>
      <td>AL</td>
      <td>PARTIDO ISOLADO</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2014</td>
      <td>5</td>
      <td>20000000003</td>
      <td>PEN</td>
      <td>23/04/2017</td>
      <td>SENADOR</td>
      <td>Eleições Gerais 2014</td>
      <td>#NE#</td>
      <td>03:00:36</td>
      <td>#NE#</td>
      <td>...</td>
      <td>ALAGOAS</td>
      <td>51</td>
      <td>51</td>
      <td>1</td>
      <td>#NE#</td>
      <td>PEN</td>
      <td>PEN</td>
      <td>AL</td>
      <td>AL</td>
      <td>PARTIDO ISOLADO</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2014</td>
      <td>5</td>
      <td>40000000001</td>
      <td>PSTU</td>
      <td>23/04/2017</td>
      <td>SENADOR</td>
      <td>Eleições Gerais 2014</td>
      <td>#NE#</td>
      <td>03:00:36</td>
      <td>#NE#</td>
      <td>...</td>
      <td>AMAZONAS</td>
      <td>16</td>
      <td>16</td>
      <td>1</td>
      <td>#NE#</td>
      <td>PSTU</td>
      <td>PSTU</td>
      <td>AM</td>
      <td>AM</td>
      <td>PARTIDO ISOLADO</td>
    </tr>
  </tbody>
</table>
<p>5 rows × 21 columns</p>
</div>

### Junção entre votação e candidatos

In [29]:
vot = votos_x_candidatos(ano=2014,
                         cargo=CARGO.PRESIDENTE,
                         agregacao_regional=AGR_REGIONAL.BRASIL).head()
vot.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>NUMERO_CANDIDATO</th>
      <th>SIGLA_UE</th>
      <th>NUM_TURNO</th>
      <th>ANO_ELEICAO</th>
      <th>CODIGO_CARGO_x</th>
      <th>DESCRICAO_ELEICAO_x</th>
      <th>DATA_GERACAO_x</th>
      <th>DESCRICAO_CARGO_x</th>
      <th>HORA_GERACAO_x</th>
      <th>QTDE_VOTOS</th>
      <th>...</th>
      <th>DESCRICAO_COR_RACA</th>
      <th>CODIGO_NACIONALIDADE</th>
      <th>DESCRICAO_NACIONALIDADE</th>
      <th>SIGLA_UF_NASCIMENTO</th>
      <th>CODIGO_MUNICIPIO_NASCIMENTO</th>
      <th>NOME_MUNICIPIO_NASCIMENTO</th>
      <th>DESPESA_MAX_CAMPANHA</th>
      <th>COD_SIT_TOT_TURNO</th>
      <th>DESC_SIT_TOT_TURNO</th>
      <th>EMAIL_CANDIDATO</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>13</td>
      <td>BR</td>
      <td>1</td>
      <td>2014</td>
      <td>1</td>
      <td>ELEIÇÕES GERAIS 2014</td>
      <td>27/10/2014</td>
      <td>PRESIDENTE</td>
      <td>17:38:00</td>
      <td>43267668</td>
      <td>...</td>
      <td>BRANCA</td>
      <td>1</td>
      <td>BRASILEIRA NATA</td>
      <td>MG</td>
      <td>-3</td>
      <td>BELO HORIZONTE</td>
      <td>383000000</td>
      <td>6</td>
      <td>2º TURNO</td>
      <td>#NULO#</td>
    </tr>
    <tr>
      <th>1</th>
      <td>13</td>
      <td>BR</td>
      <td>1</td>
      <td>2014</td>
      <td>1</td>
      <td>ELEIÇÕES GERAIS 2014</td>
      <td>28/01/2016</td>
      <td>PRESIDENTE</td>
      <td>18:23:16</td>
      <td>13868</td>
      <td>...</td>
      <td>BRANCA</td>
      <td>1</td>
      <td>BRASILEIRA NATA</td>
      <td>MG</td>
      <td>-3</td>
      <td>BELO HORIZONTE</td>
      <td>383000000</td>
      <td>6</td>
      <td>2º TURNO</td>
      <td>#NULO#</td>
    </tr>
    <tr>
      <th>2</th>
      <td>13</td>
      <td>BR</td>
      <td>2</td>
      <td>2014</td>
      <td>1</td>
      <td>ELEIÇÕES GERAIS 2014</td>
      <td>27/10/2014</td>
      <td>PRESIDENTE</td>
      <td>17:38:00</td>
      <td>54501118</td>
      <td>...</td>
      <td>BRANCA</td>
      <td>1</td>
      <td>BRASILEIRA NATA</td>
      <td>MG</td>
      <td>-3</td>
      <td>BELO HORIZONTE</td>
      <td>-1</td>
      <td>1</td>
      <td>ELEITO</td>
      <td>#NULO#</td>
    </tr>
    <tr>
      <th>3</th>
      <td>13</td>
      <td>BR</td>
      <td>2</td>
      <td>2014</td>
      <td>1</td>
      <td>ELEIÇÕES GERAIS 2014</td>
      <td>28/01/2016</td>
      <td>PRESIDENTE</td>
      <td>18:23:16</td>
      <td>18073</td>
      <td>...</td>
      <td>BRANCA</td>
      <td>1</td>
      <td>BRASILEIRA NATA</td>
      <td>MG</td>
      <td>-3</td>
      <td>BELO HORIZONTE</td>
      <td>-1</td>
      <td>1</td>
      <td>ELEITO</td>
      <td>#NULO#</td>
    </tr>
    <tr>
      <th>4</th>
      <td>16</td>
      <td>BR</td>
      <td>1</td>
      <td>2014</td>
      <td>1</td>
      <td>ELEIÇÕES GERAIS 2014</td>
      <td>27/10/2014</td>
      <td>PRESIDENTE</td>
      <td>17:38:00</td>
      <td>91209</td>
      <td>...</td>
      <td>BRANCA</td>
      <td>1</td>
      <td>BRASILEIRA NATA</td>
      <td>SP</td>
      <td>-3</td>
      <td>SANTA ALBERTINA</td>
      <td>400000</td>
      <td>4</td>
      <td>NÃO ELEITO</td>
      <td>ZEMARIAALMEIDA@UOL.COM.BR</td>
    </tr>
  </tbody>
</table>
<p>5 rows × 51 columns</p>
</div>

### Votos x Partidos

In [ ]:
votos_x_legendas(ano=2014,
                 cargo=CARGO.PRESIDENTE,
                 agregacao_regional=AGR_REGIONAL.BRASIL).head()

### Votos Brancos

In [34]:
votos(ano=2014,
      cargo=CARGO.PRESIDENTE,
      agregacao_regional=AGR_REGIONAL.BRASIL,
      numero_candidato="95")[["NUMERO_CANDIDATO","QTDE_VOTOS"]]

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>NUMERO_CANDIDATO</th>
      <th>QTDE_VOTOS</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>95</td>
      <td>4420489</td>
    </tr>
    <tr>
      <th>1</th>
      <td>95</td>
      <td>377</td>
    </tr>
    <tr>
      <th>2</th>
      <td>95</td>
      <td>1921819</td>
    </tr>
    <tr>
      <th>3</th>
      <td>95</td>
      <td>372</td>
    </tr>
  </tbody>
</table>
</div>

### Votos Nulos

In [35]:
votos(ano=2014,
      cargo=CARGO.PRESIDENTE,
      agregacao_regional=AGR_REGIONAL.BRASIL,
      numero_candidato="96")[["NUMERO_CANDIDATO","QTDE_VOTOS"]]

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>NUMERO_CANDIDATO</th>
      <th>QTDE_VOTOS</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>96</td>
      <td>6678592</td>
    </tr>
    <tr>
      <th>1</th>
      <td>96</td>
      <td>717</td>
    </tr>
    <tr>
      <th>2</th>
      <td>96</td>
      <td>5219787</td>
    </tr>
    <tr>
      <th>3</th>
      <td>96</td>
      <td>995</td>
    </tr>
  </tbody>
</table>
</div>